body{
    margin: 0 auto;
}
.btn {
    background-color: gray;
    color: black;
    border-radius: 10px;
}
.pintas-collection{
    /*border: 1px dotted black;*/
    margin: auto;
    margin-left: -4px;
    margin-right: -4px;
    /*text-align: center;*/
    display: block;
    
}
.pinta-item {
    vertical-align: text-top;
    border: 1px dotted black;
    border-radius: 15px;
    position: relative;
    width: 147px;
    padding: 10px;
    padding-bottom: 4px;
    padding-top: 4px;
    margin: 4px;
    display: inline-block;
}
.pinta-img-link {
    margin: 4px;
    border-radius: 15px;
    width: 125px;
    /*height: 125px;*/
}
.pinta-img-link--1 {
    height: 215px;
}
.pinta-img-link--2 {
    height: 305px;
}
.pinta-img-link--3 {
    height: 395px;
}
.pinta-img-link--wide {
    width: 250px;
}
.pinta-info {
    display: block;
    height: 24px;
    /*position: absolute;*/
    /*border: 1px solid black;*/
}
.pinta-user {
    /*border: 1px solid black;*/
    position: absolute;
    text-align: left;
    display: inline;
    left: 10px;
    width: 100px;
}
.pinta-likes {
    position: absolute;
    text-align: right;
    display: inline;
    right: 10px;
}

.new-pinta-img-preview {
    border: 1px dashed gray;
    width: 320px;
}

.grid {
    /*border: 1px dotted black;*/
    /*background: #EEE;*/
    /*max-width: 1200px;*/
}

/*clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    width: 160px;
    /*height: 180px;*/
    float: left;
    margin: 1px;
    background: #2b3e50;
    border: 2px solid #333;
    border-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 5px;
    text-align: center;
}

.grid-item--width2 { width: 320px; }
.grid-item--width3 { width: 480px; }
.grid-item--width4 { width: 640px; }

.grid-item--height2 { height: 270px; }
.grid-item--height3 { height: 360px; }
.grid-item--height4 { height: 450px; }
