<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head.ejs %>
</head>

<title>Pintacular - Home</title>

<body onload="setCookie()">
    <header>
        <% include partials/header.ejs %>
    </header>

    <div class="container">
        <div class="jumbotron">
            <h3>Welcome <%=userName%>!</h3>
        </div>
    </div>

    <footer>
        <% include partials/footer.ejs %>
    </footer>
    
    <script>
    var userName = <%=userName%>;
    function setCookie() {
        // alert("Cookie is set: " + JSON.stringify(document.cookie));
    }
    </script>

</body>

</html>