<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head.ejs %>
</head>

<title>Pintacular</title>

<body>
    <header>
        <% include partials/header.ejs %>
    </header>

    <div class="container">
        <div class="jumbotron">
            <h1 style="font-size: 210%;">Pintacular</h1>
            <h3><a href = "/connect/twitter">Twitter Oauth</a></h3>
            <h3><a href = "/new-pinta">Add New</a></h3>
            <h3><a href = "/view-pintas">View</a></h3>
            <h3><a href = "/view-pintas-latest">View Latest</a></h3>
        </div>
    </div>

    <footer>
        <% include partials/footer.ejs %>
    </footer>

</body>

</html>