<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NodeJS Simple App</title>

    <!-- CSS -->
    <!-- load bootstrap and custom stylesheet -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/main.css">

</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>This Is Heroku Minimum!</h1>
        <h2>Made using NodeJS, Express, EJS</h2>
        <p>Author <a href="http://dmcgaa.com">dmcgaa.com</a></p>
        <p></p><i>made 2016-01-02</i></p>
    </div>
</div>
    
</body>
</html>