<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head.ejs %>
</head>

<title>Pintacular - New Pinta</title>

<body>
    <header>
        <% include partials/header.ejs %>
        <script src="/js/pinta-new-posting.js"></script>
    </header>

    <div class="container">
        <div class="jumbotron">
            <form id="pinta-new" method="post" action="/pinta-new-add">
                <input type="text" name="userName" id="formUserName" style="display:none;">
                <input type="text" name="imgSize" id="imgSize" style="display:none;">
                Name:
                <br>
                <input type="text" name="pName" placeholder="Title" autofocus required>
                <br> Image URL:
                <br>
                <div id="pinta-options">
                    <input type="text" id="img-url" name="pHtml" placeholder="Image URL" required>
                    <br>
                </div>
                <input type="submit" style="color:black;" value="Submit">
                <br>
            </form>
            <img id="img-preview" src="/images/placeholder-400x400.png" alt="Image Preview" class="new-pinta-img-preview">
        </div>
    </div>

    <footer>
        <% include partials/footer.ejs %>
    </footer>
    
</body>

</html>